name: build
on:
  push:
    branches-ignore: [ 'main' ]

jobs:
  build-pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pipenv'
      - name: Install pipenv
        run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python
      - run: pipenv install

      - name: Run health
        run: mpyl health
        env:
          CHANGE_ID: 1234

      - name: Run build
        run: pipenv run run
        env:
          CHANGE_ID: 1234